name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '31 7 * * 3'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Install and Build
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.2.2

      - name: Setup node dependencies
        uses: ./.github/actions/setup-node-deps

      - name: Build the app
        run: npm run build

      - name: Save build folder
        uses: actions/upload-artifact@v4
        with:
          name: build
          if-no-files-found: error
          path: build

  unit-tests:
    name: Run unit tests
    runs-on: ubuntu-22.04
    needs: build
    steps:
      - uses: actions/checkout@v4.2.2

      - name: Setup node dependencies
        uses: ./.github/actions/setup-node-deps

      - name: Run unit tests
        run: npm test -- --ci --coverage

  cypress-tests:
    name: Run cypress tests
    runs-on: ubuntu-22.04
    needs: [build, unit-tests]
    env:
      TESTOMATIO: ${{ secrets.TESTOMATIO_API_KEY }}
    steps:
      - uses: actions/checkout@v4.2.2

      - name: Setup node dependencies
        uses: ./.github/actions/setup-node-deps

      - name: Download the build folder
        uses: actions/download-artifact@v4.3.0
        with:
          name: build
          path: build

      - name: Start app and run Cypress with Testomat reporting
        uses: cypress-io/github-action@v6
        with:
          start: npm start
          browser: chrome
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 120
        env:
          TESTOMATIO: ${{ secrets.TESTOMATIO_API_KEY }}