name: Cypress Tests

on:
  workflow_run:
    workflows: ["CI checks"]
    types:
      - completed

jobs:
  cypress-tests:
    runs-on: ubuntu-22.04
    env:
      TESTOMATIO: ${{ secrets.TESTOMATIO_API_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Download the build folder
        uses: actions/download-artifact@v4
        with:
          name: build
          path: build

      - name: Start app and run Cypress with Testomat reporting
        uses: cypress-io/github-action@v5
        with:
          start: npm start
          browser: chrome
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 120
        env:
          TESTOMATIO: ${{ secrets.TESTOMATIO_API_KEY }}
